#ignore build artifacts
build/
dist/

#ignore node modules
node_modules/

#environment variables
.env

#db 
demo_sqlite.db
demo_sqlite.db.**

#backup configs
nodemon.json.**

#test json files and artifacts
src/test/artifacts/

#compilation
.tsbuildinfo

#logs
logs/